/*
List of Colors:
Background Color: #00a2c6
Background Color Light: ##2CB3D9
Primary Text Color: #FF2D00
Secondary Text Color: #FFF
Decoration Color: #002EFF
Button Hoover Color: #009dff4e
*/

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #73ceff;
  color: #000;
  text-align: center;
}

/* * {
box-sizing: border-box;
} */

h1 {
  text-align: center;
}
.navbar {
display:flex;
flex-direction: row;
justify-content: space-between;
}
.form-control {
font-family: 'Roboto Mono', sans-serif;
}
a {
text-decoration: none;
color: #FFF;
font-size: 1.5rem;
}
ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.pokemon-button {
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  border: 1.5px solid blue;
  border-radius: 5px;
  padding: 2px;
  color: #FF2D00;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 10px;
  background: white;
  display: inline-block;
}

.pokemon-list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 5px;
}

.pokemon-button:hover {
cursor: pointer;
opacity: 0.8;
font-weight: bold;
background: #96d518;
}

#modal-container {
padding: 15px;
max-width: 400px;
}
.modal-content {
border: 2px solid blue;
background: #73ceff;
font-family: 'Roboto Mono', sans-serif;
border-radius: 5px;
}
