/*
List of Colors:
Background Color: #00a2c6
Background Color Light: ##2CB3D9
Primary Text Color: #FF2D00
Secondary Text Color: #FFF
Decoration Color: #002EFF
*/

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #00a2c6;
    color: #FFF;
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}
button {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    border: 1.5px solid blue;
    border-radius: 5px;
    padding: 2px;
    color: #FF2D00;
    padding: 10px;
    min-width: 300px;
    max-width: 700px;
    margin-bottom: 10px;
    background: white;
}

@media all and (max-width: 400px) {
    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}